<web-app>

  <listener>
    <listener-class>spray.servlet.Initializer</listener-class>
  </listener>

  <servlet>
    <servlet-name>SprayConnectorServlet</servlet-name>
    <servlet-class>spray.servlet.Servlet30ConnectorServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>

  <servlet-mapping>
    <servlet-name>SprayConnectorServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
